@use '../../styles/variables.scss' as color;

.footer {
  padding-top: 44px;
  padding-bottom: 44px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer__copyright {
  font-size: 12px;
  line-height: normal;
}

.footer-nav {
  width: 450px;
}

.footer-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav__item {
  font-size: 15px;
  line-height: normal;
  font-weight: 600;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 32px;
}

.desktop-visible {
  display: block;
}

.mobile-visible {
  display: none;
}

@media (max-width: 1200px) {
  .mobile-visible {
    display: block;
  }

  .desktop-visible {
    display: none;
  }

  .footer-wrapper {
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 32px;
  }

  .footer__copyright_media {
    display: block;
    margin-top: 16px;
    padding-top: 16px;
    text-align: center;
    border-top: 1px solid color.$border-section-color;
  }
}

//@media (max-width: 768px) {
//}

@media (max-width: 480px) {
  .footer-nav {
    width: 100%;
  }

  .footer-nav__list {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
  }

  .footer-nav__item {
    grid-column: auto / span 2;
  }
}